*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /* font-family: 'Blanquotey', sans-serif; */
    font-family: "Kumbh Sans", sans-serif;
    /* font-optical-sizing: auto; */
    /* font-style: normal; */
    /* font-variation-settings:"YOPQ" 300; */
}
/* Configuración de Navbar */
header{
    top: 0;
    height: 120px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: fixed;
    z-index: 3;
    box-shadow: 0 -10px 20px;
    display: block;
    /* border: 1px solid black; */
}
/* Configuración de la barra superior de navbar */
.min-header{
    height: 30px;
    width: 100%;
    background-color: #1198ac;
    /* position: absolute; */
    /* border: 1px solid black; */
}
.info-min{
    width: 80%;
    margin: 0 auto;
}
.info-min .min-contacto{
    /* display: flex; */
    float: left;
    line-height: 30px;
    font-size: 15px;
    font-weight: bold;
}
.info-min .min-contacto h4, .info-min .min-contacto a{
    float: left;
    color: white;
    margin: 0 5px;
}
.info-min .min-contacto a i:hover{
    scale: 1.2px;
    color:white;
    background-color: transparent;
}
.info-min .min-redsocial{
    float: right;
    line-height: 30px;
}
.info-min .min-redsocial a {
    color: white;
    margin: 0 10px;
}
.info-min .min-redsocial a i:hover{
    scale: 1.2px;
    color:white;
    background-color: transparent;
}
/* Configuración de barra principal del navbar */

.principal-header{
    height: 90px;
    width: 100%;
    /* border: 1px solid black; */
}
.logo{
    height: 90px;
    margin: 0px 10px 0px 10%;
    float: left;
    /* border: 1px solid black; */
}
.logo a img{
    height: 80px;
    width: auto;
    line-height: 90px;
}
.principal-header .navbar{
    float: right;
    height: 90px;
    margin: 0px 10% 0px 10px;
}
.navbar ul{
    height: 90px;
    /* border: 1px solid black; */
}
.navbar ul li{
    float: left;
    line-height: 90px;
}
.navbar ul li a{
    color: black;
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: bold;
}
.principal-header .navbar ul li a:hover{
    background-color: rgb(203, 202, 202);
} 

.checkbtn{
    /* border: 1px solid black; */
    font-size: 30px;
    color: black;
    float: right;
    margin-right: 10%;
    line-height: 110px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/* Configuracion de navegacion vertical */
.list-destiny {
    position: relative;
}
.ul-second {
    display: none;
    position: absolute;
    margin-top: 0px;
    color: white;
}
.navbar .option-destiny a{
    color: black;
}
.navbar .option-destiny a:hover{
    display:contents;
    font-size: 20px;
    transition: .5s;
}
.ul-second > .option-destiny {
    width: 150px;
    line-height: 50px;
    transform: translateX(0px);
    border-bottom:solid 1px #fff ;
    text-align: center;
    background-color: rgb(203, 202, 202);
}
.ul-second > .option-destiny:hover {
    background-color: rgba(17, 151, 172, 0.856);
}
.list-destiny:hover > .ul-second {
    display: block;
}

/* Configuración de Main */
/* Configuración de Banner */

main .section-banner{
    margin-top: 120px;
    padding: 0;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
    background-color: rgb(17, 151, 172);
    /* background-image: url(/img/slide/Apukllay-logo-RGB-10.png);
    background-size: 148px 148px;
    background-repeat: repeat; */
    /* align-items: center; */
}
iframe{
    width: 75%;
    height: 480px;
    border: none;
}
.slider{
    width: 75%;
    height: 450px;
    /* border-radius: 10px; */
    overflow: hidden;
}
.slide{
    width: 500%;
    height: 450px;
    display: flex;
}
.slide input{
    display: none;
}
.st{
    width: 20%;
    transition: 2s;
}
.st img{
    width: 100%;
    height: 450px;
}
.nav-m{
    position: absolute;
    width: 75%;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}
.m-btn{
    border: 2px solid rgb(208, 208, 208);
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.m-btn:not(:last-child){
    margin-right: 30px;
}
.m-btn:hover{
    background-color: rgb(208, 208, 208);
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
.nav-auto{
    position: absolute;
    width: 75%;
    margin-top: 410px;
    display: flex;
    justify-content: center;
}
.nav-auto div{
    border: 2px solid rgb(208, 208, 208);
    padding: 3px;
    border-radius: 10px;
    transition: 1s;
}
.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}
#radio1:checked ~ .nav-auto .a-b1{
    background-color: rgb(208, 208, 208);
}
#radio2:checked ~ .nav-auto .a-b2{
    background-color: rgb(208, 208, 208);
}
#radio3:checked ~ .nav-auto .a-b3{
    background-color: rgb(208, 208, 208);
}
#radio4:checked ~ .nav-auto .a-b4{
    background-color: rgb(208, 208, 208);
}

/* Titulo de slide */
.tittle-bar{
    top: 400px;
    height: 200px;
    width: 55%;
    position:absolute;
    /* z-index: 10; */
    /* border: 1px solid black; */
    display: none;
}
.info-float{
    width: 100%;
    /* height: 120px; */
    background-color: rgba(44, 208, 156, 0.95);
    border-radius: 0 60px 60px 0;
    padding: 13px 30px 30px 45px;
    color: white;
    font-size: 23px;
    letter-spacing: 1.2px;
    position: relative;
}
.info-float-secundary{
    width: 80%;
    /* height: 100px; */
    margin-top: -25px;
    background-color: rgb(211, 230, 4);
    border-radius: 0 60px 60px 0;
    position: absolute;
    padding: 20px 30px 20px 45px;
    color: rgb(0, 0, 194);
    font-size: 20px;
    font-style: italic;
    letter-spacing: 1.2px;
}

/* Sección Destinos Favoritos */
.section-engagement{
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
}
.tittle-engagement{
    height: auto;
    width: 160px;
    margin: 40px auto;
    padding: 10px 15px;
    text-align: center;
    /* border: 1px solid black; */
    background-color:#bee1e7;
    color: #1198ac;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.container-engagement{
    width: 90%;
    height: auto;
    /* border: 1px solid black; */
    margin: 0 auto;
}
.container-engagement h2{
     text-align: center;
     font-size: 48px;
     letter-spacing: -0.6px;
}
/* .img-engagement img{
    width: 40%;
    height: 500px;
    margin: 10px 1% 0 1%;
    float: left;
    border-radius: 100px 0;
    object-fit: cover;
} */
/* .text-engagement{
    width: 56%;
    height: 500px;
    margin: 10px 1% 0 1%;
    padding: 5px;
    font-size: 23px;
    justify-content:center;
    text-align: justify;
    float: right;
} */

/* CARDS PAGINA INDEX */
/* Cards destinos favoritos */
.cards-fav{
    width: 100%;
    height: auto;
    margin: 20px auto 40px auto;
    display: grid;
    grid-template-columns:auto auto auto auto;
}
/* .card-fav-destiny{
    height: auto;
    background-color: rgba(17, 151, 172, 0.856);
    box-shadow: 0 0 5px gray;
    border-radius: 20px;
    margin: 10px;
    display: block;
}
.card-fav-destiny img{
    height: 250px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.card-fav-destiny:hover{
    transition: .5s;
    scale: 1.1;
}
.card-fav-content{
    display: inline-grid;
    width: 100%;
    height: auto;
    bottom: 20px;
}
.fav-destiny{
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px 15px;
}
.card-fav-ubication, .card-fav-price{
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-left: 30px;
    margin-bottom: 15px;
}
.card-fav-ubication i, .card-fav-price i{
    color: #F6E127;
    text-decoration: none;
    margin-right: 10px;
}
.card-fav-ubication i:hover, .card-fav-price i:hover{
    color: #F6E127;
    background-color: transparent;
    scale: none;
} */

.boton-modal{
    /* .card-fav-content a, --En caso de usar otra opcion de modal usar el boton <a> */
    text-align: center;
    margin-right: 10%;
    margin-left: 60%;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #ED2A79;
    cursor: pointer;
    /* colores: Rosado:#ED2A79 Verde:#3ABA8F Amarillo:#F6E127 Azul:#06809F*/
}
.boton-modal:hover{
    /* .card-fav-content a:hover, --En caso de usar otra opcion de modal usar el boton <a> */
    background-color: #F6E127;
    color: #06809F;
}
.boton-modal i{
    /* .card-fav-content a i, --En caso de usar otra opcion de modal usar el boton <a> */
    margin-right: 5px;
}
.boton-modal i:hover{
    /* .card-fav-content a i:hover, --En caso de usar otra opcion de modal usar el boton <a> */
    color: #06809F;
    background-color: transparent;
    scale: none;
}
/* Configuracion de Modal */
#btn-modal-1,#btn-modal-2,#btn-modal-3,#btn-modal-4,#btn-modal-5,#btn-modal-6{
    display: none;
}
.container-modal-1,.container-modal-2,.container-modal-3,.container-modal-4,.container-modal-5,.container-modal-6{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items:start;
    text-align: justify;
    z-index: 100;
    overflow-y: auto;
}
#btn-modal-1:checked ~ .container-modal-1{
    display: flex;
}
#btn-modal-2:checked ~ .container-modal-2{
    display: flex;
}
#btn-modal-3:checked ~ .container-modal-3{
    display: flex;
}
#btn-modal-4:checked ~ .container-modal-4{
    display: flex;
}
#btn-modal-5:checked ~ .container-modal-5{
    display: flex;
}
#btn-modal-6:checked ~ .container-modal-6{
    display: flex;
}
.content-modal{
    width: 100%;
    max-width: 70%;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.detail-row-1{
    display: grid;
    grid-template-columns:auto auto;
    border-bottom: 1px solid #dbdbdb;
}
.content-modal h2{
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
    padding: 15px 0px;
}
.detail-tour{
    font-size: 16px;
    padding: 15px 0px;
    margin-right: 10px;
}
.detail-important{
    border-bottom: 1px solid #dbdbdb;
    padding: 15px 0px;
}
.detail-img{
    /* border: 1px solid black; */
    padding: 15px 0px;
    align-items: center;
    display: grid;
    grid-template-rows:auto auto;
}
.detail-img img{
    border-radius: 15px;
    width: 100%;
    height: auto;
    margin: 5px 0;
}
.detail-include{
    display: grid;
    grid-template-columns: auto auto;
    font-size: 14px;
    border-bottom: 1px solid #dbdbdb;
    padding: 15px 0px;
    text-align: left;
}
.detail-include .include ul li, .detail-include .non-include ul li{
    list-style:outside; 
    margin: 0 20px;   /* font-size: 14px; */
}
.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.content-modal .btn-cerrar label{
    padding: 7px 10px;
    background-color: #ED2A79;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms ease;
}
.content-modal .btn-cerrar label:hover{
    background-color: #F6E127;
    color: #06809F;
}
.cerrar-modal{
    width:100%;
    height: 100%;
    position: fixed;
    top:0; left: 0;
    z-index: -1;
}
/*:::Fin Ventana Modal:::*/
/* Sección Paquetes Completos */
.tittle-fullpackages{
    height: auto;
    width: 300px;
    margin: 40px auto;
    padding: 10px 15px;
    text-align: center;
    /* border: 1px solid black; */
    background-color:#bee1e7;
    color: #1198ac;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

/* Cards paquetes completos */
.cards-fullpkg{
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    margin: 20px auto 40px auto;
    display: grid;
    grid-template-columns:auto auto auto auto;
    /* text-align: justify; */
}
.card-fullpkg-destiny, .card-fav-destiny{
    height: 430px;
    /* background-color: rgba(17, 151, 172, 0.856); */
    box-shadow: 0 0 5px gray;
    border-radius: 20px;
    margin: 10px;
    position: relative;
    display: block;
    cursor: pointer;
}
.card-fullpkg-destiny:hover, .card-fav-destiny:hover{
    transition: .5s;
    scale: 1.05;
}
.card-fullpkg-destiny img, .card-fav-destiny img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.card-fullpkg-destiny .fullpkg-tittle{
    position: absolute;
    z-index: 1;
    width: 100%;
    color: white;
    margin: 15px 0;
    padding: 0 10px;
    /* line-height: 20px; */
    font-size: 18px;
    letter-spacing: -0.7px;
    text-align: center;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
.card-fav-destiny .fav-tittle{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 70px;
    color: white;
    margin: 15px auto;
    /* padding: 0 10px; */
    /* line-height: 35px; */
    font-size: 18px;
    letter-spacing: -0.7px;
    text-align: center;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
.card-fullpkg-destiny hr, .card-fav-destiny hr{
    position: absolute;
    z-index: 1;
    top: 70px;
    width: 90%;
    margin-left: 5%;
    height: 3px;
    border: none;
    background-color: white;
}
.card-fullpkg-destiny span, .card-fav-destiny span{
    position: absolute;
    z-index: 1;
    top: 90px;
    margin-left: 5%;
    color: white;
    font-size: 15px;
}
.card-fullpkg-destiny h4, .card-fav-destiny h4{
    position: absolute;
    z-index: 1;
    top: 120px;
    margin-left: 5%;
    color: white;
    font-size: 15px;
    background-color: #ED2A79;
    padding: 8px 15px;
    border-radius: 15px;
}
.card-fullpkg-destiny .fullpkg-price, .card-fav-destiny .fav-price{
    position: absolute;
    z-index: 1;
    bottom: 50px;
    right: 5%;
    color: white;
}
.card-fullpkg-destiny p, .card-fav-destiny p{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 5%;
    color: white;
    font-size: 10px;
}

/* Sección de estadistica */
.section-statistics{
    width: 100%;
    height: auto;
    padding: 50px 0;
    /* border: 1px solid black; */
    background-color: rgb(236, 236, 236);
    /* color: rgb(83, 83, 83); */
}
.tittle-statistics{
    height: auto;
    width: 160px;
    margin: 20px auto;
    padding: 10px 15px;
    text-align: center;
    /* border: 1px solid black; */
    background-color:#bee1e7;
    color: #1198ac;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.subtittle-statistics{
    text-align: center;
    font-size: 48px;
    letter-spacing: -0.6px;
}
.cards{
    width: 100%;
    height: auto;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
}
.card-stat{
    height: 250px;
    width: 200px;
    /* border: 1px solid black; */
    text-align: center;
    /* border-radius: 50px;
    box-shadow: 0 0 8px; */
    /* background-color: white; */
}
.card-stat:hover{
    scale: 1.2;
    transition: .5s;
}
.card-stat img{
    margin: 10px auto;
    /* border-radius: 50%; */
    padding: 10px;
    /* background-color: rgb(150, 150, 150); */
}

/* Configuracion de footer */

footer{
    height: auto;
    width: 100%;
    /* border: 1px solid yellow; */
}
.footer-principal{
    width: 100%;
    height: auto;
    background-color: rgb(56, 56, 56);
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
}
.logo-footer, .contact, .metod-pay, .tours-recommended{
    /* border: 1px solid white; */
    width: 25%;
    height: 450px;
    margin: auto 0;
}
.logo-footer{
    text-align: center;
}
.logo-footer a img{
    margin: 30px 0 5px 0;
    height: 280px;
    /* border: 1px solid white; */
}
.red-social{
    height: 100px;
    width: 100%;
    /* border: 1px solid white; */
    line-height: 100px;
}
.red-social i{
    height: 40px;
    width: 40px;
    background-color: rgb(135, 135, 135);
    margin: auto 2px;
    line-height: 40px;
    font-size: 25px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}
.fa:hover{
    background-color: rgb(221, 221, 221);
    color: black;
    scale: 1.2;
    transition: .5s;
}
.tours-recommended h2{
    text-align: center;
    margin: 30px 0;
    color: white;
} 
.tours-recommended ul{
    text-align: justify;
    margin-left: 15%;
    line-height: 55px;
} 
.tours-recommended ul li a{
    font-size: 18px;
    letter-spacing: 2px;
    color: white;
} 
.tours-recommended ul li a:hover{
    color: rgb(3, 108, 135);
    font-weight: bold;
} 
.metod-pay h2{
    text-align: center;
    margin: 30px 0 0 0;
    color: white;
}
.providers{
    text-align: center;
}
.providers .visa{
    height: 80px;
}
.providers .mastercard{
    height: 80px;
}
.providers .dinersclub{
    height: 50px;
}
.providers .yape-plin{
    height: 130px;
}
.contact h2{
    text-align: center;
    margin: 30px 0 0 0;
    color: white;
}
.info-contact ul{
    margin-top: 20px;
    margin-left: 10%;
    line-height: 55px;
}
.info-contact ul li{
    font-size: 15px;
    letter-spacing: -0.2px;
    color: white;
}
.info-contact ul li i{
    margin: 0 5px;
}
.footer-secundary{
    width: 100%;
    height: 50px;
    background-color: #1198ac;
    text-align: center;
    /* border: 1px solid green; */
}
.footer-secundary span{
    color: white;
    font-weight: 400;
    font-size: 13px;
    line-height: 50px;
}

/* PAGINA ACERCA DE NOSOTROS */
main .section-about-us{
    margin-top: 120px;
    padding: 1px 0;
    width: 100%;
    height: auto;
    background-color: white;
    /* border: 1px solid black; */
}
.tittle-about-us{
    text-align: center;
    background-color:#bee1e7;
    color: #1198ac;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin: 20px auto;
    border-radius: 10px;
    width: 160px;
}
.container-about-us h2{
    text-align: center;
    font-size: 48px;
    letter-spacing: -0.6px;
}
.info-about-us{
    /* justify-content: space-around; */
    margin: 20px auto;
    margin-bottom: 40px;
    /* border: 1px solid black; */
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;
}
.info-about-us img{
    height: 305px;
    /* width: 220px; */
    /* background-color: black; */
    /* box-shadow: 1px 1px 5px grey; */
    filter: drop-shadow(1px 1px 5px grey);
    /* border: 1px solid black; */
    border-radius: 10% 0 10% 0;
    margin: auto 10px;
}
.info-about-us p{
    text-align: justify;
    line-height: 35px;
    /* justify-content: center; */
    font-size: 20px;
    margin: auto 10px;
}
.info-about-us p strong{
    font-size: 24px;
}

/* PAGINA DESTINOS */
/* Sección Destinos*/
.section-destiny{
    margin-top: 120px;
    padding-top: 1px;
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
}
.tittle-destiny{
    height: auto;
    width: 220px;
    margin: 40px auto 20px auto;
    padding: 10px 15px;
    text-align: center;
    /* border: 1px solid black; */
    background-color:#bee1e7;
    color: #1198ac;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.container-destiny{
    width: 90%;
    height: auto;
    /* border: 1px solid black; */
    margin: 0 auto;
}
.container-destiny h2{
     text-align: center;
     font-size: 48px;
     letter-spacing: -0.6px;
}
.cards-destiny{
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    margin: 20px auto 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns:auto auto auto auto; */
    /* text-align: justify; */
}
.card-destiny{
    height: auto;
    background-color: rgba(17, 151, 172, 0.856);
    box-shadow: 0 0 5px gray;
    border-radius: 20px;
    margin: 10px 5px;
    /* cursor: pointer; */
    display: block;
}
.card-destiny img{
    height: 210px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.card-destiny:hover{
    transition: .5s;
    scale: 1.02;
}
.card-destiny-content{
    display: inline-grid;
    /* position: absolute; */
    width: 100%;
    height: auto;
    bottom: 20px;
}
.destiny{
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 8px 15px;
}
.destiny-ubication, .destiny-price{
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-left: 30px;
    margin-bottom: 10px;
}
.destiny-ubication i, .destiny-price i{
    color: #F6E127;
    text-decoration: none;
    margin-right: 10px;
}
.destiny-ubication i:hover, .destiny-price i:hover{
    color: #F6E127;
    background-color: transparent;
    scale: none;
}
.card-destiny-content a{
    /* .boton-modal, --En caso de usar otra opcion de modal usar el boton <label> */
    text-align: center;
    margin: 10px auto 20px auto;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #ED2A79;
    cursor: pointer;
    /* colores: Rosado:#ED2A79 Verde:#3ABA8F Amarillo:#F6E127 Azul:#06809F*/
}
.card-destiny-content a:hover{
    /* .boton-modal:hover, --En caso de usar otra opcion de modal usar el boton <label> */
    background-color: #F6E127;
    color: #06809F;
}
.card-destiny-content a i{
    /* .boton-modal i, --En caso de usar otra opcion de modal usar el boton <label> */
    margin-right: 5px;
}
.card-destiny-content a i:hover{
    /* .boton-modal i:hover, --En caso de usar otra opcion de modal usar el boton <label> */
    color: #06809F;
    background-color: transparent;
    scale: none;
}
/* Sponsors*/
.sponsored{
    width: 100%;
    /* border: 1px solid red; */
}
.sponsored-tittle{
    height: auto;
    width: 220px;
    margin: 20px auto 0 auto;
    padding: 10px 15px;
    text-align: center;
    /* border: 1px solid black; */
    background-color:#bee1e7;
    color: #1198ac;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.sponsored-items{
    width: 80%;
    margin: 20px auto;
    text-align: center;
    /* border: 1px solid black; */
    display: grid;
    /* place-content: center; */
    grid-template-columns:auto auto;
    justify-content: space-evenly;
}
.sponsored-items img{
   height: 100%;
}
/* detalles de cada tour */
.tour-details{
    width: 80%;
    height: auto;
    margin: 120px auto 0px auto;
    /* display: inline-flex;
    justify-content: center; */
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.648);
}
.tour-details .tour-details-tittle{
    height: auto;
    width: 220px;
    margin: 10px auto;
    padding: 10px 15px;
    text-align: center;
    background-color:#bee1e7;
    color: #1198ac;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.tour-specifications{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    display: inline-flex;
    justify-content: center;
}
.tour-itinerary{
    width: 60%;
    text-align: justify;
    /* border: 1px solid green; */
    padding: 10px;
}
.tour-itinerary h3{
    text-transform: uppercase;
    color: #ED2A79;
    text-align: center;
    margin-bottom: 10px;
}
.tour-itinerary span{
    font-weight: bold;
}
.tour-itinerary ul{
    margin: 15px 0;
}
.tour-itinerary ul li{
    list-style:inside;
}
.tour-itinerary ul li ul{
    margin: 0;
}
.tour-itinerary ul li ul li{
    list-style: circle;
    margin-left: 2em;
}
.tour-images{
    width: 40%;
    /* border: 1px solid blue; */
    text-align: center;
}
.tour-images img{
    width: 90%;
    border-radius: 10px;
    margin: 20px 0;
}
.tour-images hr{
    margin: 20px auto;
    width: 90%;
}
.contact-whatsapp{
    margin-top: 15%;
    width: 100%;
    height: auto;
}
.contact-whatsapp i{
    font-size: 40px;
    width: 60%;
    padding: 5px 0;
    margin-top: 10px;
    border-radius: 30px;
    color: white;
    background-color: #25d366;
    cursor: pointer;
}
.contact-whatsapp i:hover{
    scale: none;
    color: white;
    background-color: #25d366;
}

/* Configuracion Responsive */
@media (min-width:1200px){
    
    /* Ajuste de slide */
    /* .slider, .slide, .st img{
        height: 780px;
    }
    .nav-auto{
        margin-top: 740px;
    } */
}
@media (min-width:992px) and (max-width: 1199px){
    /* Pagina Acerca de nosotros */
    .info-about-us p{
        line-height: 30px;
    }
    .info-about-us p strong{
        font-size: 22px;
    }
    /* Ajustar cards de Destinos */
    .cards-destiny{
        grid-template-columns: repeat(3, 1fr);
    }
    /* Ajustar cards de favoritos y paquetes completos */
    .card-fullpkg-destiny .fullpkg-tittle, .card-fav-destiny .fav-tittle{
        font-size: 20px;     
    }
    .card-fullpkg-destiny hr, .card-fav-destiny hr{
        top: 90px;
    }
    .card-fullpkg-destiny span, .card-fav-destiny span{
        top: 110px;
    }
    .card-fullpkg-destiny h4, .card-fav-destiny h4{
        top: 150px;
        font-size: 13px;
    }
}

@media (min-width:768px) and (max-width: 991px) {
    /* Ajuste de Navbar */
    .navbar ul li a{
        color: black;
        padding: 10px 5px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 14px;
    }
    /* Ajuste de slide (oculto en html)*/
    .slider, .slide, .st img{
        height: 420px;
    }
    .nav-auto{
    margin-top: 380px;
    }
    /* Ajuste de iframe */
    iframe{
        width: 95%;
        height: 450px;
        border: none;
    }
    /* Ajuste de footer */
    .logo-footer, .contact, .metod-pay, .tours-recommended{
        width: 50%;
    }
    /* Ajuste de Modal */
    .detail-row-1{
        grid-template-columns:auto;
    }
    .detail-tour, .detail-important{
        font-size: 14px;
    }
    /* Pagina Acerca de nosotros */
    .info-about-us{
        width: 95%;
    }
    .info-about-us p{
        line-height: 28px;
    }
    .info-about-us p strong{
        font-size: 20px;
    }
    /* Ajustar cards de Destinos */
    .cards-destiny{
        grid-template-columns: repeat(2, 1fr);
    }
    /* Ajustar cards de favoritos y paquetes completos */
    .cards-fullpkg, .cards-fav{
        grid-template-columns:auto auto auto;
    }
    .card-fullpkg-destiny .fullpkg-tittle, .card-fav-destiny .fav-tittle{
        font-size: 20px;
    }
    .card-fullpkg-destiny hr, .card-fav-destiny hr{
        top: 90px;
    }
    .card-fullpkg-destiny span, .card-fav-destiny span{
        top: 110px;
    }
    .card-fullpkg-destiny h4, .card-fav-destiny h4{
        top: 150px;
        font-size: 13px;
    }
}

@media (min-width:576px) and (max-width: 767px) {
    /* Ajuste de Navbar */
    .info-min{
        width: 95%;
    }
    .info-min .min-contacto h4{
        display: none;
    }
    .info-min .min-redsocial a {
        margin: 0 5px;
    }
    .checkbtn{
        display: block;
        font-size: 40px;
    }
    .navbar ul li{
        position:relative;
        border: 1px solid white;
        line-height: 80px;
        top: -21px;
        width: 100%;
        height: 13vh;
        left: -115%;
        background-color: #1198ac;
        text-align: center;
        transition: all .5s;
    }
    .navbar ul li a{
        padding: 15px 80px;
        color: white;
    }
    .navbar ul li a:hover{
        background-color: #2c3e50; 
        color: #2c3e50;
    }
    
    #check:checked ~ .navbar ul li{
        left: 0;
    }
    /* Navbar Opciones de destinos */
    .ul-second > .option-destiny {
        width: 50%;
        height: 60px;
        top: 3px;
        line-height: 60px;
    }
    .ul-second {
        z-index: 3;
    }
    .option-destiny a{
        padding: 10px 30px;
        color: white;
    }
    /* Ajuste de slide (oculto en html) */
    .slider, .slide, .st img{
        height: 330px;
    }
    .nav-auto{
    margin-top: 290px;
    }
    .slider, .nav-m, .nav-auto{
        width: 95%;
    }
    /* Ajuste de iframe */
    iframe{
        width: 95%;
        height: 380px;
        border: none;
    }
    /* Ajuste de Favoritos */
    .cards-fav{
        grid-template-columns:auto auto;
    }
    /* Ajuste de footer */
    .logo-footer, .contact, .metod-pay, .tours-recommended{
        width: 50%;
    }
    /* Ajuste de Modal */
    .detail-row-1{
        grid-template-columns:auto;
    }
    .detail-tour, .detail-important, .detail-include{
        font-size: 13px;
    }
    .detail-include{
        grid-template-columns: auto;
    }
    .detail-include .include{
        margin-bottom: 10px;
    }
    /* Pagina Acerca de nosotros */
    .info-about-us{
        width: 97%;
        grid-template-columns: auto;
    }
    .info-about-us img{
        height: 250px;
        margin: 10px auto;
    }
    .info-about-us p{
        line-height: 26px;
    }
    .info-about-us p strong{
        font-size: 20px;
    }
    /* Ajustar cards de Destinos */
    .container-destiny{
        width: 98%;
    }
    .cards-destiny{
        grid-template-columns: repeat(2, 1fr);
    }
    /* Ajustar cards favoritos y paquetes completos */
    .cards-fullpkg, .cards-fav{
        grid-template-columns:auto auto;
    }
    .card-fullpkg-destiny .fullpkg-tittle, .card-fav-destiny .fav-tittle{
        font-size: 20px;
    }
    .card-fullpkg-destiny hr, .card-fav-destiny hr{
        top: 90px;
    }
    .card-fullpkg-destiny span, .card-fav-destiny span{
        top: 110px;
    }
    .card-fullpkg-destiny h4, .card-fav-destiny h4{
        top: 150px;
        font-size: 13px;
    }
    /* Sponsors */
    .sponsored-items img{
        height: 80%;
     }
     /* Pagina de cada destino */
    .tour-details{
        width: 90%;
    }
    .tour-itinerary{
        font-size: 14px;
    }
}
@media (max-width: 575px) {
    /* Ajuste de Navbar */
    .info-min{
        width: 95%;
    }
    .info-min .min-contacto h4{
        display: none;
    }
    .info-min .min-redsocial a {
        margin: 0 5px;
    }
    .checkbtn{
        display: block;
        font-size: 40px;
    }
    .navbar ul li{
        position:relative;
        border: 1px solid white;
        line-height: 80px;
        top: -21px;
        width: 100%;
        height: 13vh;
        left: -115%;
        background-color: #1198ac;
        text-align: center;
        transition: all .5s;
    }
    .navbar ul li a{
        /* padding: 15px 80px; */
        color: white;
    }
    .navbar ul li a:hover{
        background-color: #2c3e50; 
        color: #2c3e50;
    }
    
    #check:checked ~ .navbar ul li{
        left: 0;
    }
    /* Navbar Opciones de destinos */
    .ul-second > .option-destiny {
        width: 50%;
        height: 60px;
        top: 3px;
        line-height: 60px;
    }
    .ul-second {
        z-index: 3;
    }
    .option-destiny a{
        padding: 10px 30px;
        color: white;
    }
    /* Ajuste de slide (oculto en html)*/
    .slider, .slide, .st img{
        height: 250px;
    }
    .nav-auto{
    margin-top: 210px;
    }
    .slider, .nav-m, .nav-auto{
        width: 95%;
    }
    /* Ajuste de iframe */
    iframe{
        width: 100%;
        height: 220px;
        border: none;
    }
   /* Ajuste de Favoritos */
   .cards-fav{
    grid-template-columns:auto;
    }
    /* Ajuste de footer */
    .logo-footer, .contact, .metod-pay, .tours-recommended{
        width: 100%;
    }
    /* Ajuste de Modal */
    .content-modal{
        max-width: 95%;
    }
    .detail-row-1{
        grid-template-columns:auto;
    }
    .detail-tour, .detail-important, .detail-include{
        font-size: 13px;
    }
    .detail-include{
        grid-template-columns: auto;
    }
    .detail-include .include{
        margin-bottom: 10px;
    }
    /* Pagina Acerca de nosotros */
    .info-about-us{
        width: 97%;
        grid-template-columns: auto;
    }
    .info-about-us img{
        width: 95%;
        height: auto;
        margin: 10px auto;
    }
    .info-about-us .about-us-img{
        width: 50%;
        filter: drop-shadow(1px 1px 5px grey);
    }
    .info-about-us p{
        line-height: 26px;
    }
    .info-about-us p strong{
        font-size: 20px;
    }
    /* Ajustar cards de Destinos */
    .container-destiny{
        width: 98%;
    }
    .cards-destiny{
        grid-template-columns: repeat(1, 1fr);
    }
    /* Ajustar cards favoritos y paquetes completos */
    .cards-fullpkg, .cards-fav{
        grid-template-columns:auto;
    }
    .card-fullpkg-destiny .fullpkg-tittle, .card-fav-destiny .fav-tittle{
        font-size: 20px;
        text-align: center;
    }
    .card-fullpkg-destiny hr, .card-fav-destiny hr{
        top: 90px;
    }
    .card-fullpkg-destiny span, .card-fav-destiny span{
        top: 110px;
    }
    .card-fullpkg-destiny h4, .card-fav-destiny h4{
        top: 150px;
        font-size: 13px;
    }
    /* Sponsors */
    .sponsored-items{
        grid-template-columns:auto;
    }
    .sponsored-items img{
        height: 80%;
        margin: 0 auto;
    }
     /* Pagina de cada destino */
    .tour-details{
        width: 95%;
    }
    .tour-specifications{
        display: block;
    }
    .tour-itinerary{
        width: 100%;
        font-size: 14px;
    }
    .tour-itinerary h3{
        font-size: 20px;
    }
    .tour-images{
        width: 100%;
    }
    .contact-whatsapp{
        margin-top: 5%;
        margin-bottom: 5%;
    }
}
